.porto-font {
    font-family: 'Porto';
}
.roboto-font {
    font-family: 'Roboto';
}
.center {
    @include translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.clearfix {
    zoom: 1;
}
.clearfix::before, .clearfix::after {
    content: '';
    display: table;
}
.clearfix::after {
    clear: both;
}